@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
 }
 
 .nav-visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
 }
 
 