---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import About from '../components/About.astro';
const pageTitle = "Portfolio - Index";
const name: string = "Youris";
---

<Layout pageTitle={pageTitle}>
	
	<section class="flex flex-col justify-center items-center h-screen">
		<h1 id="me" class="text-5xl z-1000 text-center">
			Welcome the portfolio of a <span class="text-green-500">Fullstack</span> Web Developer.<br /> 
			I'm <span class="text-orange-500">{name}</span>.
		</h1>
		
		<a href="#about" class="mt-10 animate-bounce text-orange-500 text-3xl hover:text-orange-600 active:text-orange-700">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-14 h-14">
				<path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
			</svg>
		</a>
	</section>

	<div class="relative">
		<Nav />
		<About />
		<Projects />
		<Contact />
	</div>
</Layout>