
<section class="flex flex-col items-center justify-center h-screen" id="about">
    <h2 class="text-3xl mb-5"> About me ?</h2>
    <p class="text-2xl"> With passion for new technologies and the IT world, <br>
        I developed my skills in web developement by following<br>
        an autodidact philosophy and a active learning parkour.<br>
        <br>
        Thank you for reading my portfolio, you will have the possibility<br>
        to discover what I've learned and what I've created. </p>

    <ul class="flex flex-row mt-5">
        <li> HTML <img class="w-20" src="/public/icons/html.svg"> </li>
        <li> SASS <img class="w-20" src="/public/icons/sass.svg"></li>
        <li> TS <img class="w-20" src="/public/icons/ts.svg"></li>
        <li> PHP <img class="w-20" src="/public/icons/php.svg"></li>
        <li> POSTGRESQL <img class="w-20" src="/public/icons/postgres.svg"></li>
    
    </ul>

    
    <ul class="flex flex-row mt-5">
        <li> REACT <img class="w-20" src="/public/icons/react.svg"></li>
        <li> LARAVEL <img class="w-20" src="/public/icons/laravel.svg"></li>
        <li> TAILWINDCSS <img class="w-20" src="/public/icons/tailwind.svg"></li>
        <li> GIT <img class="w-20" src="/public/icons/git.svg"></li>
    </ul>
</section>
