<section class="min-h-screen flex flex-col justify-center items-center pt-24 md:pt-0" id="about">
  <div id="about-text" class="flex flex-col md:flex-row justify-between items-center w-full max-w-screen-lg px-10 mb-20 opacity-0 transform -translate-x-full transition-all duration-1000 ease-in-out">
    <div class="text-left md:w-3/4">
      <h2 id="about-title" class="highlight-underline font-alegreya font-bold text-3xl mb-5 transform translate-x-full transition-all duration-1000 ease-in-out">
        About me?
      </h2>      
      <p class="text-lg font-plex text-4x">
        Driven by a passion for new technologies and the world of IT, I've honed my skills in web development through a journey of self-directed learning and continuous growth.<br>
        My approach has always been rooted in curiosity and an active pursuit of knowledge.<br><br>
        I appreciate you taking the time to explore my portfolio. Here, you'll find a showcase of what I've learned and the projects I've brought to life.<br>
        I'm excited to share my journey with you.
      </p>
    </div>
    <div class="text-right md:w-1/4 mt-6 md:mt-0 md:ml-8">
      <img class="w-40 about-icon mx-auto md:mx-0" src="/icons/abouticon.svg" alt="About Icon">
    </div>
  </div>

  <div id="tech-icons" class="grid grid-cols-3 gap-4 opacity-0 transition-opacity duration-1000 ease-in-out mt-8 px-4 sm:px-0">
    <div class="grid-item">
      <div class="tech-item">
        <div class="inner">
          <p class="text-sm font-bold mb-2">PostgreSQL</p>
          <img class="w-16" src="/icons/postgres.svg" alt="PostgreSQL Icon">
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="tech-item">
        <div class="inner">
          <p class="text-sm font-bold mb-2">React</p>
          <img class="w-16" src="/icons/react.svg" alt="React Icon">
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="tech-item">
        <div class="inner">
          <p class="text-sm font-bold mb-2">TailwindCSS</p>
          <img class="w-16" src="/icons/tailwind.svg" alt="TailwindCSS Icon">
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="tech-item">
        <div class="inner">
          <p class="text-sm font-bold mb-2">Laravel</p>
          <img class="w-16" src="/icons/laravel.svg" alt="Laravel Icon">
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="tech-item">
        <div class="inner">
          <p class="text-sm font-bold mb-2">HTML</p>
          <img class="w-16" src="/icons/html.svg" alt="HTML Icon">
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="tech-item">
        <div class="inner">
          <p class="text-sm font-bold mb-2">SASS</p>
          <img class="w-16" src="/icons/sass.svg" alt="SASS Icon">
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="tech-item">
        <div class="inner">
          <p class="text-sm font-bold mb-2">TypeScript</p>
          <img class="w-16" src="/icons/ts.svg" alt="TypeScript Icon">
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="tech-item">
        <div class="inner">
          <p class="text-sm font-bold mb-2">PHP</p>
          <img class="w-16" src="/icons/php.svg" alt="PHP Icon">
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="tech-item">
        <div class="inner">
          <p class="text-sm font-bold mb-2">Git</p>
          <img class="w-16" src="/icons/git.svg" alt="Git Icon">
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener('scroll', function() {
    const aboutSection = document.getElementById('about');
    const aboutText = document.getElementById('about-text');
    const aboutTitle = document.getElementById('about-title');
    const techIcons = document.getElementById('tech-icons');

    if (aboutSection && aboutText && aboutTitle && techIcons) {
      const sectionPosition = aboutSection.getBoundingClientRect().top;
      const screenPosition = window.innerHeight / 1.3;

      if (sectionPosition < screenPosition) {
        aboutText.classList.remove('opacity-0', '-translate-x-full');
        aboutTitle.classList.remove('translate-x-full');
        techIcons.classList.remove('opacity-0');
      }
    }
  });
</script>
