<nav class="font-plex sticky top-0 z-50 w-full bg-gray-800 text-white py-2 opacity-85">
  <div class="container mx-auto flex justify-center md:justify-end items-center px-4 md:px-10">
    <div class="space-x-4 md:space-x-6 flex">
      <a id="nav-home" href="/#" class="hover:text-orange-400 transition duration-300 ease-in-out px-2 md:px-4 py-2">
        Home
      </a>
      <a id="nav-about" href="/#about" class="hover:text-orange-400 transition duration-300 ease-in-out px-2 md:px-4 py-2">
        About Me
      </a>
      <a id="nav-projects" href="/#projects" class="hover:text-orange-400 transition duration-300 ease-in-out px-2 md:px-4 py-2">
        Projects
      </a>
      <a id="nav-contact" href="/#contact" class="hover:text-orange-400 transition duration-300 ease-in-out px-2 md:px-4 py-2">
        Contact
      </a>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const sections: NodeListOf<HTMLElement> = document.querySelectorAll("section");
    const navLinks: { [key in "home" | "about" | "projects" | "contact"]: HTMLElement | null } = {
      home: document.getElementById('nav-home'),
      about: document.getElementById('nav-about'),
      projects: document.getElementById('nav-projects'),
      contact: document.getElementById('nav-contact'),
    };

    const options = {
      root: null,
      rootMargin: "0px",
      threshold: 0.3
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          for (const link in navLinks) {
            const linkElement = navLinks[link as "home" | "about" | "projects" | "contact"];
            if (linkElement) {
              linkElement.classList.remove('text-[#49d1ba]');
            }
          }
          const id = entry.target.getAttribute('id') as "home" | "about" | "projects" | "contact";
          const activeLink = navLinks[id];
          if (activeLink) {
            activeLink.classList.add('text-[#49d1ba]');
          }
        }
      });
    }, options);

    sections.forEach(section => {
      observer.observe(section);
    });
  });
</script>

