<div id="particles-js" class="absolute inset-0 z-0"></div>

<script>
  const script = document.createElement('script');
  script.src = '/js/particles.js';
  script.onload = () => {
    function loadParticlesJS(tagId: string, configPath: string) {
      fetch(configPath)
        .then((response) => response.json())
        .then((config) => {
          if (window.particlesJS) {
            window.particlesJS(tagId, config);
          } else {
            console.error('particlesJS is not defined.');
          }
        })
        .catch((error) => console.error('Error loading particles config:', error));
    }

    loadParticlesJS('particles-js', '/particles-config.json');
  };
  document.head.appendChild(script);
</script>
