<section class="flex flex-col items-center justify-center h-screen" id="projects">
    <h2 > My different projects : </h2>

    <ul>
        <li> Random Quote App : <a href ="https://github.com/Yourisrachid/random-quote-using-async-await"> GitHub</a></li>
        <li> Pokedex : <a href ="https://github.com/Yourisrachid/Pokedex"> GitHub</a></li>
        <li> Weather App : <a href ="https://github.com/Yourisrachid/weather-app"> GitHub</a></li>
        <li> DidlyDoo App : <a href ="https://github.com/Yourisrachid/didlydoo-app"> GitHub</a></li>
    </ul>
</section>

