<script>
  declare global {
    interface Window {
      openModal: (id: string) => void;
      closeModal: (id: string) => void;
    }
  }
</script>


<section class="py-20 px-4" id="projects">
  <h2 class="highlight-underline font-alegreya text-3xl font-bold mb-16 text-center">Check my projects!</h2>

  <div class="space-y-16 max-w-screen-lg mx-auto">

    <!-- Cogip Project -->
    <div class="relative flex flex-col lg:flex-row items-center group">
      <div class="w-full lg:w-1/2 lg:order-1 mb-8 lg:mb-0 lg:mr-8">
        <div class="relative bg-gray-800 p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 lg:cursor-default cursor-pointer" onclick="openModal('modalCogip')">
          <img src="/img/cogip.png" alt="Cogip Project" class="w-full h-48 object-cover rounded-md lg:h-auto">
          <h3 class="text-xl font-alegreya mt-4">Cogip Project</h3>
          <div class="absolute inset-y-0 left-0 w-full bg-gray-900 bg-opacity-90 p-6 rounded-lg transform opacity-0 lg:group-hover:translate-x-full lg:group-hover:opacity-100 transition-all duration-500 ease-in-out">
            <div>
              <p class="font-plex text-lg">This project involves managing a fictional company's invoices and clients.</p>
              <div class="mt-2 space-x-2">
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">PHP</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">MySQL</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">Vue.js</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
              </div>
              <div class="mt-4 flex space-x-4 justify-center">
                <a href="https://github.com/Yourisrachid/Cogip_Project" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
                  <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modalCogip" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50 hidden">
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-11/12 md:w-2/3 lg:w-1/3 relative">
        <h3 class="text-xl font-alegreya mb-4">Cogip Project</h3>
        <p class="font-plex text-lg">This project involves managing a fictional company's invoices and clients.</p>
        <div class="mt-2 space-x-2">
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">PHP</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">MySQL</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">Vue.js</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
        </div>
        <div class="mt-4 flex space-x-4 justify-center">
          <a href="https://github.com/Yourisrachid/Cogip_Project" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
            <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
          </a>
        </div>
        <button onclick="closeModal('modalCogip')" class="mt-6 w-full bg-orange-500 text-white py-2 rounded-lg hover:bg-orange-400">Close</button>
      </div>
    </div>

    <!-- AZ Store -->
    <div class="relative flex flex-col lg:flex-row-reverse items-center group">
      <div class="w-full lg:w-1/2 lg:order-2 mb-8 lg:mb-0 lg:ml-8">
        <div class="relative bg-gray-800 p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 lg:cursor-default cursor-pointer" onclick="openModal('modalAZStore')">
          <img src="/img/azstore.png" alt="AZ Store" class="w-full h-48 object-cover rounded-md lg:h-auto">
          <h3 class="text-xl font-alegreya mt-4">AZ Store</h3>
          <div class="absolute inset-y-0 right-0 w-full bg-gray-900 bg-opacity-90 p-6 rounded-lg transform opacity-0 lg:group-hover:-translate-x-full lg:group-hover:opacity-100 transition-all duration-500 ease-in-out">
            <div>
              <p class="font-plex text-lg">An e-commerce store built with modern web technologies.</p>
              <div class="mt-2 space-x-2">
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">PHP</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">Bootstrap</span>
              </div>
              <div class="mt-4 flex space-x-4 justify-center">
                <a href="https://github.com/Yourisrachid/AZ-store" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
                  <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="modalAZStore" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50 hidden">
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-11/12 md:w-2/3 lg:w-1/3 relative">
        <h3 class="text-xl font-alegreya mb-4">AZ Store</h3>
        <p class="font-plex text-lg">An e-commerce store built with modern web technologies.</p>
        <div class="mt-2 space-x-2">
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">PHP</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">Bootstrap</span>
        </div>
        <div class="mt-4 flex space-x-4 justify-center">
          <a href="https://github.com/Yourisrachid/AZ-store" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
            <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
          </a>
        </div>
        <button onclick="closeModal('modalAZStore')" class="mt-6 w-full bg-orange-500 text-white py-2 rounded-lg hover:bg-orange-400">Close</button>
      </div>
    </div>

    <!-- Weather App -->
    <div class="relative flex flex-col lg:flex-row items-center group">
      <div class="w-full lg:w-1/2 lg:order-1 mb-8 lg:mb-0 lg:mr-8">
        <div class="relative bg-gray-800 p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 lg:cursor-default cursor-pointer" onclick="openModal('modalWeather')">
          <img src="/img/weather.png" alt="Weather App" class="w-full h-48 object-cover rounded-md lg:h-auto">
          <h3 class="text-xl font-alegreya mt-4">Weather App</h3>
          <div class="absolute inset-y-0 left-0 w-full bg-gray-900 bg-opacity-90 p-6 rounded-lg transform opacity-0 lg:group-hover:translate-x-full lg:group-hover:opacity-100 transition-all duration-500 ease-in-out">
            <div>
              <p class="font-plex text-lg">A weather forecasting application using real-time data, API's and geolocalisation.</p>
              <div class="mt-2 space-x-2">
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">JavaScript</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">APIs</span>
              </div>
              <div class="mt-4 flex space-x-4 justify-center">
                <a href="https://github.com/Yourisrachid/weather-app" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
                  <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
                </a>
                <a href="https://yourisrachid.github.io/weather-app/" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
                  <img src="/icons/eye.svg" alt="View Site" class="w-6 h-6">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modalWeather" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50 hidden">
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-11/12 md:w-2/3 lg:w-1/3 relative">
        <h3 class="text-xl font-alegreya mb-4">Weather App</h3>
        <p class="font-plex text-lg">A weather forecasting application using real-time data, API's and geolocalisation.</p>
        <div class="mt-2 space-x-2">
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">JavaScript</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">APIs</span>
        </div>
        <div class="mt-4 flex space-x-4 justify-center">
          <a href="https://github.com/Yourisrachid/weather-app" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
            <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
          </a>
          <a href="https://yourisrachid.github.io/weather-app/" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
            <img src="/icons/eye.svg" alt="View Site" class="w-6 h-6">
          </a>
        </div>
        <button onclick="closeModal('modalWeather')" class="mt-6 w-full bg-orange-500 text-white py-2 rounded-lg hover:bg-orange-400">Close</button>
      </div>
    </div>

    <!-- Pokedex -->
    <div class="relative flex flex-col lg:flex-row-reverse items-center group">
      <div class="w-full lg:w-1/2 lg:order-2 mb-8 lg:mb-0 lg:ml-8">
        <div class="relative bg-gray-800 p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 lg:cursor-default cursor-pointer" onclick="openModal('modalPokedex')">
          <img src="/img/pokemon.png" alt="Pokedex" class="w-full h-48 object-cover rounded-md lg:h-auto">
          <h3 class="text-xl font-alegreya mt-4">Pokedex</h3>
          <div class="absolute inset-y-0 right-0 w-full bg-gray-900 bg-opacity-90 p-6 rounded-lg transform opacity-0 lg:group-hover:-translate-x-full lg:group-hover:opacity-100 transition-all duration-500 ease-in-out">
            <div>
              <p class="font-plex text-lg">An application to explore and search for Pokemon informations with authentification possibilites and filtering options.</p>
              <div class="mt-2 space-x-2">
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">PHP</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">JavaScript</span>
              </div>
              <div class="mt-4 flex space-x-4 justify-center">
                <a href="https://github.com/Yourisrachid/Pokedex" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
                  <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="modalPokedex" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50 hidden">
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-11/12 md:w-2/3 lg:w-1/3 relative">
        <h3 class="text-xl font-alegreya mb-4">Pokedex</h3>
        <p class="font-plex text-lg">An application to explore and search for Pokemon informations with authentification possibilites and filtering options.</p>
        <div class="mt-2 space-x-2">
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">PHP</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">JavaScript</span>
        </div>
        <div class="mt-4 flex space-x-4 justify-center">
          <a href="https://github.com/Yourisrachid/Pokedex" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
            <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
          </a>
        </div>
        <button onclick="closeModal('modalPokedex')" class="mt-6 w-full bg-orange-500 text-white py-2 rounded-lg hover:bg-orange-400">Close</button>
      </div>
    </div>

    <!-- Random Quote App -->
    <div class="relative flex flex-col lg:flex-row items-center group">
      <div class="w-full lg:w-1/2 lg:order-1 mb-8 lg:mb-0 lg:mr-8">
        <div class="relative bg-gray-800 p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 lg:cursor-default cursor-pointer" onclick="openModal('modalQuote')">
          <img src="/img/quote.png" alt="Random Quote App" class="w-full h-48 object-cover rounded-md lg:h-auto">
          <h3 class="text-xl font-alegreya mt-4">Random Quote App</h3>
          <div class="absolute inset-y-0 left-0 w-full bg-gray-900 bg-opacity-90 p-6 rounded-lg transform opacity-0 lg:group-hover:translate-x-full lg:group-hover:opacity-100 transition-all duration-500 ease-in-out">
            <div>
              <p class="font-plex text-lg">A simple app that displays random quotes fetched from an API using async/await.</p>
              <div class="mt-2 space-x-2">
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">JavaScript</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">APIs</span>
              </div>
              <div class="mt-4 flex space-x-4 justify-center">
                <a href="https://github.com/Yourisrachid/random-quote-using-async-await" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
                  <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
                </a>
                <a href="https://yourisrachid.github.io/random-quote-using-async-await/" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
                  <img src="/icons/eye.svg" alt="View Site" class="w-6 h-6">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modalQuote" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50 hidden">
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-11/12 md:w-2/3 lg:w-1/3 relative">
        <h3 class="text-xl font-alegreya mb-4">Random Quote App</h3>
        <p class="font-plex text-lg">A simple app that displays random quotes fetched from an API using async/await.</p>
        <div class="mt-2 space-x-2">
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">JavaScript</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">APIs</span>
        </div>
        <div class="mt-4 flex space-x-4 justify-center">
          <a href="https://github.com/Yourisrachid/random-quote-using-async-await" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
            <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
          </a>
          <a href="https://yourisrachid.github.io/random-quote-using-async-await/" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
            <img src="/icons/eye.svg" alt="View Site" class="w-6 h-6">
          </a>
        </div>
        <button onclick="closeModal('modalQuote')" class="mt-6 w-full bg-orange-500 text-white py-2 rounded-lg hover:bg-orange-400">Close</button>
      </div>
    </div>

    <!-- Dark Kitchen -->
    <div class="relative flex flex-col lg:flex-row-reverse items-center group">
      <div class="w-full lg:w-1/2 lg:order-2 mb-8 lg:mb-0 lg:ml-8">
        <div class="relative bg-gray-800 p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 lg:cursor-default cursor-pointer" onclick="openModal('modalDarkKitchen')">
          <img src="/img/dark.png" alt="Dark Kitchen" class="w-full h-48 object-cover rounded-md lg:h-auto">
          <h3 class="text-xl font-alegreya mt-4">Dark Kitchen</h3>
          <div class="absolute inset-y-0 right-0 w-full bg-gray-900 bg-opacity-90 p-6 rounded-lg transform opacity-0 lg:group-hover:-translate-x-full lg:group-hover:opacity-100 transition-all duration-500 ease-in-out">
            <div>
              <p class="font-plex text-lg">A project focused on managing a ghost kitchen's operations.</p>
              <div class="mt-2 space-x-2">
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">JavaScript</span>
              </div>
              <div class="mt-4 flex space-x-4 justify-center">
                <a href="https://github.com/Yourisrachid/DarkKitchen" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
                  <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
                </a>
                <a href="https://yourisrachid.github.io/DarkKitchen/" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
                  <img src="/icons/eye.svg" alt="View Site" class="w-6 h-6">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="modalDarkKitchen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50 hidden">
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-11/12 md:w-2/3 lg:w-1/3 relative">
        <h3 class="text-xl font-alegreya mb-4">Dark Kitchen</h3>
        <p class="font-plex text-lg">A project focused on managing a ghost kitchen's operations.</p>
        <div class="mt-2 space-x-2">
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">JavaScript</span>
        </div>
        <div class="mt-4 flex space-x-4 justify-center">
          <a href="https://github.com/Yourisrachid/DarkKitchen" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
            <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
          </a>
          <a href="https://yourisrachid.github.io/DarkKitchen/" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
            <img src="/icons/eye.svg" alt="View Site" class="w-6 h-6">
          </a>
        </div>
        <button onclick="closeModal('modalDarkKitchen')" class="mt-6 w-full bg-orange-500 text-white py-2 rounded-lg hover:bg-orange-400">Close</button>
      </div>
    </div>

    <!-- To-do List -->
    <div class="relative flex flex-col lg:flex-row items-center group">
      <div class="w-full lg:w-1/2 lg:order-1 mb-8 lg:mb-0 lg:mr-8">
        <div class="relative bg-gray-800 p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 lg:cursor-default cursor-pointer" onclick="openModal('modalTodo')">
          <img src="/img/todo.png" alt="To-do List" class="w-full h-48 object-cover rounded-md lg:h-auto">
          <h3 class="text-xl font-alegreya mt-4">To-do List</h3>
          <div class="absolute inset-y-0 left-0 w-full bg-gray-900 bg-opacity-90 p-6 rounded-lg transform opacity-0 lg:group-hover:translate-x-full lg:group-hover:opacity-100 transition-all duration-500 ease-in-out">
            <div>
              <p class="font-plex text-lg">A simple and effective to-do list application.</p>
              <div class="mt-2 space-x-2">
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
                <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">JavaScript</span>
              </div>
              <div class="mt-4 flex space-x-4 justify-center">
                <a href="https://github.com/Yourisrachid/To-do-list" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
                  <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
                </a>
                <a href="https://yourisrachid.github.io/To-do-list/" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
                  <img src="/icons/eye.svg" alt="View Site" class="w-6 h-6">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="modalTodo" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50 hidden">
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-11/12 md:w-2/3 lg:w-1/3 relative">
        <h3 class="text-xl font-alegreya mb-4">To-do List</h3>
        <p class="font-plex text-lg">A simple and effective to-do list application.</p>
        <div class="mt-2 space-x-2">
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">HTML</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">SASS</span>
          <span class="inline-block bg-orange-500 text-white text-sm px-2 py-1 rounded-full">JavaScript</span>
        </div>
        <div class="mt-4 flex space-x-4 justify-center">
          <a href="https://github.com/Yourisrachid/To-do-list" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
            <img src="/icons/github.svg" alt="GitHub" class="w-6 h-6">
          </a>
          <a href="https://yourisrachid.github.io/To-do-list/" target="_blank" class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-700 hover:bg-gray-600 active:bg-gray-500 transform hover:scale-110 active:scale-95 transition-transform duration-200 ease-in-out">
            <img src="/icons/eye.svg" alt="View Site" class="w-6 h-6">
          </a>
        </div>
        <button onclick="closeModal('modalTodo')" class="mt-6 w-full bg-orange-500 text-white py-2 rounded-lg hover:bg-orange-400">Close</button>
      </div>
    </div>
  </div>
</section>

<script>
  (function() {
    function openModal(id: string, event?: MouseEvent): void {
      if (event) {
        event.stopPropagation();
      }
      if (window.innerWidth <= 1024) {
        const modal = document.getElementById(id);
        if (modal) {
          modal.classList.remove('hidden');
        }
      }
    }

    function closeModal(id: string, event?: MouseEvent): void {
      if (event) {
        event.stopPropagation();
      }
      const modal = document.getElementById(id);
      if (modal) {
        modal.classList.add('hidden');
      }
    }


    window.addEventListener('click', function(event) {
      const modals = document.querySelectorAll('.fixed.inset-0');
      modals.forEach(modal => {
        if (event.target === modal) {
          modal.classList.add('hidden');
        }
      });
    });


    window.openModal = openModal;
    window.closeModal = closeModal;


    document.addEventListener('DOMContentLoaded', () => {
      if (window.innerWidth <= 1024) {
        const projectCards = document.querySelectorAll('.project-card');
        projectCards.forEach(card => {
          card.addEventListener('click', (event) => {
            const modalId = card.getAttribute('data-modal-id');
            if (modalId) {
              openModal(modalId, event as MouseEvent);
            }
          });
        });
      }
    });
  })();
</script>

