---
import Head from '../components/Head.astro';
import ParticlesBackground from '../components/ParticlesBackground.astro';


const { pageTitle } = Astro.props as { pageTitle: string };
---

<html class="scroll-smooth text-white bg-gray-950" lang="en">

  <Head pageTitle={pageTitle} />

  <body class="relative">

	<ParticlesBackground />



    <div class="text-center h-screen">
      <slot />
    </div>
  </body>
</html>
